# Resend API Key (get from https://resend.com/api-keys)
RESEND_API_KEY=re_123456789

# Restaurant email to receive order notifications
RESTAURANT_EMAIL=orders@hilltoppubandgrill.com

# Admin Dashboard credentials change in src/store/useAdminStore.js
ADMIN_Email=admin@hilltoppubandgrill.com
ADMIN_PASSWORD=hilltop2024
